<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Humane</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>loginPage.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>loginPage.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.qf.qcri.humane.login.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TweetCollectorServlet</display-name>
    <servlet-name>TweetCollectorServlet</servlet-name>
    <servlet-class>org.qf.qcri.humane.tweetcollector.servlet.TweetCollectorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TweetCollectorServlet</servlet-name>
    <url-pattern>/TweetCollectorServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>TweetCollectorStopServlet</display-name>
    <servlet-name>TweetCollectorStopServlet</servlet-name>
    <servlet-class>org.qf.qcri.humane.tweetcollector.servlet.TweetCollectorStopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TweetCollectorStopServlet</servlet-name>
    <url-pattern>/TweetCollectorStopServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>CollectorServlet</display-name>
    <servlet-name>CollectorServlet</servlet-name>
    <servlet-class>org.qf.qcri.humane.tweetcollector.servlet.CollectorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectorServlet</servlet-name>
    <url-pattern>/CollectorServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>CollectorTaskServlet</display-name>
    <servlet-name>CollectorTaskServlet</servlet-name>
    <servlet-class>org.qf.qcri.humane.tweetcollector.servlet.CollectorTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectorTaskServlet</servlet-name>
    <url-pattern>/CollectorTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeatureExtractorServlet</display-name>
    <servlet-name>FeatureExtractorServlet</servlet-name>
    <servlet-class>org.qf.qcri.humane.tweetcollector.servlet.FeatureExtractorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeatureExtractorServlet</servlet-name>
    <url-pattern>/FeatureExtractorServlet</url-pattern>
  </servlet-mapping>
<listener>
      <listener-class>org.qf.qcri.humane.tweetcollector.listeners.ContextListener</listener-class>
   </listener>
</web-app>